<!DOCTYPE html>
<html>
<head>
    <title>Login | EH MetalWorks QMS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="/static/ehlogo.png" alt="EH MetalWorks Logo" style="max-width: 300px; margin-bottom: 20px; display: block; margin-left: auto; margin-right: auto;">
    <h1>🔐 Login to EH MetalWorks QMS</h1>
    <form method="POST">
        <label>Username:</label><br>
        <input type="text" name="username"><br><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <br>
    <p><a href="/register">Need an account? Register here</a></p>
</body>
</html>
