<!DOCTYPE html>
<html>
<head>
    <title>Add Material | EH MetalWorks QMS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>➕ Add New Material</h1>
    <form method="POST">
        <label>Type:</label><br>
        <input type="text" name="type"><br><br>

        <label>Gauge:</label><br>
        <input type="text" name="gauge"><br><br>

        <label>Thickness:</label><br>
        <input type="text" name="thickness"><br><br>

        <label>Length:</label><br>
        <input type="text" name="length"><br><br>

        <label>Width:</label><br>
        <input type="text" name="width"><br><br>

        <label>Quantity:</label><br>
        <input type="number" name="quantity"><br><br>

        <input type="submit" value="Add Material">
    </form>
    <p><a href="/inventory">← Back to Inventory</a></p>
</body>
</html>
