<!DOCTYPE html>
<html>
<head>
    <title>Upload Document | EH MetalWorks QMS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>📤 Upload Document</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Title:</label><br>
        <input type="text" name="title"><br><br>
        <label>Version:</label><br>
        <input type="text" name="version"><br><br>
        <label>Owner:</label><br>
        <input type="text" name="owner"><br><br>
        <label>File:</label><br>
        <input type="file" name="file"><br><br>
        <input type="submit" value="Upload">
    </form>
    <br>
    <p><a href="/">← Back to Dashboard</a></p>
</body>
</html>
